.focusable {
  transition: transform 0.2s ease-in-out;
  transform-origin: bottom left;
}

.focusable:focus-visible {
  outline: 5px solid yellow !important;
  background: #0F60B6 !important;
  color: #fff !important;
  transform: scale(1.05);
  z-index: 1000;
}